<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <li>
            <%= link_to("ボタン", "/posts/home") %>
          </li>
          <li>
            <%= link_to("共有スペース", "/posts/space") %>
          </li>
        <% else %>
          <%= link_to("共有くん", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout",{method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("共有くんとは", "/about") %>
          </li>
        <% end %>
      </ul>
    </header>
    
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>


